{% extends 'base.html' %}
{% block title%}DeepEM K-Edge Library{% endblock title%}

{% block scripts%}
<!-- scatter plot -->
<script>
  $(document).ready(
    function(){
      const ctx = document.getElementById('myChart').getContext('2d');

      const data = {
        datasets: [{
          label: '{{object.name}}',
          // data: [{x: -10,y: 0}, ],
          data: [{% for i,j in p %}{x:{{i}},y:{{j}}},{%endfor%}],
          backgroundColor: 'rgb(51, 153, 255)'
        }],
      };
      const myChart = new Chart(ctx, {
          type: 'scatter',
          data: data,
          options: {
            scales: {
              x: {type: 'linear',position: 'bottom'}
            }
          }
      });
    });
</script>
{% endblock scripts%}

{% block content%}
  <h1>Welcome</h1>
  <canvas id="myChart" width="90" height="40"></canvas>
  {% for i in p %}<h1>hi</h1>{%endfor%}
  <h1>My bro</h1>
{% endblock content%}
